<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page non trouvée</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/global.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    <div class="container">
        <h1>404</h1>
        <p>Désolé, la page que vous recherchez n'existe pas.</p>
        <a href="{% url 'index' %}">Retour à la page d'accueil</a>
    </div>
</body>
</html>
