{% extends "base_generic.html" %}
{% load widget_tweaks %}

{% block content %}

<section id="popular" class="pt-4 pb-5 bg_grey">
    <div class="container">
        <div class="row trend_1">
            <div class="col-md-12">
                <div class="trend_1l">
                    <h4 class="mb-0"><i class="fa fa-youtube-play align-middle col_red me-1"></i> Movies <span
                            class="col_red"></span></h4>
                </div>
            </div>
        </div>
<br>
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <div class="row">
                    {% for movie in movies %}
                    <div class="col-md-6">
                        <div class="popular_2i1 row">
                            <div class="col-md-4 col-4">
                                <div class="popular_2i1lm position-relative clearfix">
                                    <div class="popular_2i1lm1 clearfix">
                                        <div class="grid">
                                            <figure class="effect-jazz mb-0">
                                                <a href="#"><img src="/static/img/18.jpg" class="w-100"
                                                        alt="{{ movie.title }}"></a>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
                                        <ul>
                                            <li class="d-inline-block"><a href="#"><i
                                                        class="fa fa-link col_red"></i></a></li>
                                            <li class="d-inline-block"><a href="#"><i
                                                        class="fa fa-search col_red"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-8">
                                <div class="popular_2i1r">
                                    <h5><a class="col_red" href="{% url 'rate_movie' movie.id %}">{{ movie.title }}</a>
                                    </h5>
                                    <h6>Action, Thriller</h6>
                                    {% if movie.average_rating %}
                                    <h6> {{ movie.average_rating|floatformat:1 }} <span class="ms-2"><i
                                                class="fa fa-star col_red me-1"></i></span><span class="ms-2"></span>
                                    </h6>
                                    {% else %}
                                    <h6> No ratings yet <span class="ms-2"><i
                                                class="fa fa-star col_red me-1"></i></span> <span class="ms-2">
                                        </span></h6>
                                    {% endif %}
                                    <p>{{movie.overview}}</p>                                    <h6 class="mb-0"><a class="button" href="#">More Info </a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}